@layout('layouts/app')

@section('title')
    show 1 sneaker page
@endsection

@section('content')
    <h1>show 1 sneaker page</h1>
    <div class="show-page">
        <div class="img">
            <h2>{{sneaker.title}}</h2>
            <img src="{{sneaker.image}}" alt="shoe pic">
            <p>{{sneaker.description}}</p>
        </div>
    </div>
@endsection